.schedule {
    margin: 0 auto;
    max-width: 800px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: center;
}

thead th {
    background-color: #f2f2f2;
}

tbody td {
    border: 1px solid #ddd;
}

tbody td:nth-child(even) {
    background-color: #f2f2f2;
}